# -*- coding: utf-8 -*-
# vim: ft=yaml
---
# Extend the `default` configuration provided by `yamllint`
extends: 'default'

rules:
  comments:
    min-spaces-from-content: 1
  empty-values:
    forbid-in-block-mappings: true
    forbid-in-flow-mappings: true
  line-length:
    # Increase from default of `80`
    # Based on https://github.com/PyCQA/flake8-bugbear#opinionated-warnings (`B950`)
    max: 88
    allow-non-breakable-inline-mappings: true
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
