# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Owner(s) for everything in the repo, unless a later match takes precedence
# FILE PATTERN                       OWNER(S)
*                                    @saltstack-formulas/wg

# Owner(s) for files related to `semantic-release`
# FILE PATTERN                       OWNER(S)
/bin/kitchen                         @saltstack-formulas/ssf
/docs/TOFS_pattern.rst               @saltstack-formulas/ssf
/salt/libsaltcli.jinja               @saltstack-formulas/ssf
/salt/libtofs.jinja                  @saltstack-formulas/ssf
/test/integration/**/inspec.yml      @saltstack-formulas/ssf
/test/integration/**/README.md       @saltstack-formulas/ssf
/.gitignore                          @saltstack-formulas/ssf
/.cirrus.yml                         @saltstack-formulas/ssf
/.rubocop.yml                        @saltstack-formulas/ssf
/.salt-lint                          @saltstack-formulas/ssf
/.travis.yml                         @saltstack-formulas/ssf
/.yamllint                           @saltstack-formulas/ssf
/commitlint.config.js                @saltstack-formulas/ssf
/CODEOWNERS                          @saltstack-formulas/ssf
/Gemfile                             @saltstack-formulas/ssf
/Gemfile.lock                        @saltstack-formulas/ssf
/kitchen.yml                         @saltstack-formulas/ssf
/pre-commit_semantic-release.sh      @saltstack-formulas/ssf
/release-rules.js                    @saltstack-formulas/ssf
/release.config.js                   @saltstack-formulas/ssf

# Owner(s) for specific files/directories
# FILE PATTERN                       OWNER(S)
/salt/formulas.sls                   @sticky-note @myii
/salt/pin.sls                        @hatifnatt
