{% set map = {
    'Debian':  {'salt-master': 'salt-master',
                'salt-minion': 'salt-minion',
                'salt-syndic': 'salt-syndic',
                'salt-cloud': 'salt-cloud',
                'salt-ssh': 'salt-ssh'},
    'Ubuntu':  {'salt-master': 'salt-master',
                'salt-minion': 'salt-minion',
                'salt-syndic': 'salt-syndic',
                'salt-cloud': 'salt-cloud',
                'salt-ssh': 'salt-ssh'},
    'CentOS':  {'salt-master': 'salt-master',
                'salt-minion': 'salt-minion',
                'salt-syndic': 'salt-syndic',
                'salt-cloud': 'salt-cloud',
                'salt-ssh': 'salt-ssh'},
    'Amazon':  {'salt-master': 'salt-master',
                'salt-minion': 'salt-minion',
                'salt-syndic': 'salt-syndic',
                'salt-cloud': 'salt-cloud',
                'salt-ssh': 'salt-ssh'},
    'Fedora':  {'salt-master': 'salt-master',
                'salt-minion': 'salt-minion',
                'salt-syndic': 'salt-syndic',
                'salt-cloud': 'salt-cloud',
                'salt-ssh': 'salt-ssh'},
    'RedHat':  {'salt-master': 'salt-master',
                'salt-minion': 'salt-minion',
                'salt-syndic': 'salt-syndic',
                'salt-cloud': 'salt-cloud',
                'salt-ssh': 'salt-ssh'},
    'Gentoo':  {'salt-master': 'app-admin/salt',
                'salt-minion': 'app-admin/salt',
                'salt-syndic': 'app-admin/salt',
                'salt-cloud': 'app-admin/salt'},
    'Arch':    {'salt-master': 'salt',
                'salt-minion':  'salt',
                'salt-syndic':  'salt',
                'salt-cloud':  'salt',
                'salt-ssh':  'salt'},
    'openSUSE':{'salt-master': 'salt-master',
                'salt-minion':  'salt-minion',
                'salt-syndic':  'salt-syndic',
                'salt-cloud':  'salt-cloud',
                'salt-ssh':  'salt-ssh'},
    'FreeBSD': {'salt-master': 'py27-salt',
                'salt-minion': 'py27-salt',
                'salt-syndic': 'py27-salt',
                'salt-cloud': 'py27-salt',
                'config-path': '/usr/local/etc/salt',
                'minion-service': 'salt_minion',
                'master-service': 'salt_master',
                'syndic-service': 'salt_syndic'},
} %}

{% if grains.get('saltversion', '').startswith('0.17') %}
{% set salt= salt['grains.filter_by'](map, merge=salt['pillar.get']('salt:lookup'), base='default') %}
{% else %}
{% set salt = map.get(grains.os_family) %}
{% endif %}
