{% set package_table = {
    'Debian': {'salt-master': 'salt-master',
               'salt-minion': 'salt-minion'},
    'Ubuntu': {'salt-master': 'salt-master',
               'salt-minion': 'salt-minion'},
    'CentOS': {'salt-master': 'salt-master',
               'salt-minion': 'salt-minion'},
    'Fedora': {'salt-master': 'salt-master',
               'salt-minion': 'salt-minion'},
    'RedHat': {'salt-master': 'salt-master',
               'salt-minion': 'salt-minion'},
    'Gentoo': {'salt-master': 'app-admin/salt',
               'salt-minion': 'app-admin/salt'},
    'Arch':   {'salt-master': 'salt',
               'salt-minion':  'salt'}
} %}

{% set pkgs = salt['pillar.get']("salt:package_table:%s" % grains['os'], package_table[grains['os']]) %}
